@import './colors.scss';

$main-color: $orange;
$side-color: $black;
$inactive-color: $gray;
$background-color: $white;
$correct: $green;
$uncorrect: $red;

$block-border-radius: 2px;
$small-padding: 5px;
$small-margin: 5px;
